$form_border_color: #333333;
$form_background_color: #FFFFFF;
$outline_color: #2962FF;

$text_color: #333333;

// error
$error_color: #FF3333;
$error_background_color: #FFDDDD;
$error_placeholder_color: #FF8888;